@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>


<p>
    Founded in <strong>2025</strong>, our company is dedicated to providing top-quality products and exceptional customer service. <br />
    We take pride in offering a diverse range of products, catering to <strong>five main categories</strong>: Electronics, Clothing, Books, Home Appliances, and Toys. <br />
    Our platform ensures a seamless shopping experience, making it easy for customers to find and purchase the products they need.
</p>

<p>
    Our <strong>mission</strong> is to <strong>supply the best products</strong> to our customers, ensuring quality, affordability, and convenience. <br />
    We carefully select our products to meet high standards, working with trusted suppliers. <br />
    Whether you're shopping for the latest electronics, fashionable clothing, must-read books, essential home appliances, or fun toys, our store is designed to meet your needs. <br />
    We believe in building long-term relationships by providing secure transactions, fast delivery, and excellent service.
</p>
